/* style.css */

/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family:"Poppins", sans-serif;
}

body {
    color: #333;
    background-color: #FFEDFF;
}

header {
    background-color: #fff;
    color: #333;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    text-align: center;
}

nav {
    display: flex; /* Flexbox for nav */
    justify-content: space-between; /* Space out the elements evenly */
}

nav a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo-header {
    display: flex;
    gap: 30px;
}

.section-name{
    text-align: left;
    line-height:0px;
}

.menu {
    display: flex; /* Flexbox for menu */
    gap: 30px; /* Gap between menu items */
    margin: auto 0;
}

main {
    display: grid; /* Grid for main */
    grid-template-columns: 3fr 1fr; /* Three parts for section, one part for aside */
    gap: 20px; /* Gap between grid items */
    margin: 20px 0;
}

aside {
    background-color: #f8f9fa;
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #fff;
    color: #333;
    box-shadow: 0 -3px 15px 3px rgba(0, 0, 0, 0.25);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex; /* Flexbox for footer */
    justify-content: space-between; /* Space out the elements evenly */
}

.menu1 {
    display: flex;
    flex-direction: column;
    text-align: right;
}

footer a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}